@import "../fonts/Autopia/autopia/autopia-stylesheet.css";

@font-face {

    font-family: "archivo";
    src: url("../fonts/archivo/ArchivoBlack-Regular.otf");
}


body {

    font-family: "Autopia-Regular";
}

span {
    font-size: 10px;
}

.palettes {
    position: absolute;
    display: flex;
    /* mix-blend-mode: hard-light; */
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    background: white;
    color: black;
}

#data-graphic {
    /* display: grid;
    grid-template-columns: 5% 1fr 5%;
    grid-template-rows: 5% 1fr 5%; */
    position: relative;
    z-index: 3;
    height: 1189mm;
    width: 841mm;
    background: black;
}

.images-data {
    overflow: hidden;
    color: white;
    font-size: 30px;
    mix-blend-mode: difference;
    width: 150mm;
    height: 150mm;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    filter: grayscale();
}


#palettes1 {
    top: 0;
    left: 0;
    width: 100%;
    height: 20mm;
    /* grid-column: 2 ;
	grid-row: 1 ; */
    background: white;
}

#palettes2 {
    /* transform: rotate(90deg); */
    top: 0;
    right: 0;
    width: 20mm;
    height: 100%;
    /* grid-column: -1 ;
	grid-row: 2 ; */
    background: green;
}

#palettes2>* {
    margin: 3mm;
    transform: rotate(90deg);
}

#palettes4>* {
    height: 100%;
    /* margin: 3mm;
    transform: rotate(90deg); */
}


#palettes3 {
    transform: rotate(-180deg);
    bottom: 0;
    right: 0;
    width: 100%;
    height: 20mm;
    /* grid-column: 2 ;
	grid-row: -1/1 ; */
    background: red;
}

#palettes4 {
    /* transform: rotate(-90deg); */
    bottom: 0;
    left: 0;
    width: 20mm;
    height: 100%;
    /* grid-column: 1 ;
	grid-row: 2 ; */
    background: blue;
}

.colors {
    height: 77px;
}

.palettes>h1 {
    padding: 10px;
    font-size: 50px;
    font-family: "Autopia-Bold-Italic";
    color: black;
}

@media print {

    header,
    main {
        display: none;
    }
}

.colors {
    width: 46px;
    height: 85px;
}

@media screen {
    .ascii {
        background: black;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }

    iframe {
        overflow: hidden;
    }

    #data-graphic {
        /* display: grid;
    grid-template-columns: 5% 1fr 5%;
    grid-template-rows: 5% 1fr 5%; */
        position: relative;
        z-index: 3;
        height: 100vh;
        width: 100vw;
        background: #8c8c8c;
    }

    .images-data {
        overflow: hidden;
        color: white;
        font-size: 0px;
        mix-blend-mode: hard-light;
        width: 150mm;
        height: 150mm;
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        filter: grayscale();
    }

    span {
        font-size: 10px;
    }

    .palettes {
        position: absolute;
        display: flex;
        /* mix-blend-mode: hard-light; */
        flex-wrap: wrap;
        height: 100%;
        width: 100%;
        background: white;
        color: black;
    }


    #palettes3 {
        /* transform: rotate(-180deg); */
        bottom: 0;
        right: 0;
        width: 100%;
        height: 30px;
        /* grid-column: 2 ;
	grid-row: -1/1 ; */
        background: red;
    }

    #palettes4 {
        /* transform: rotate(-90deg); */
        bottom: 0;
        left: 0;
        width: 30px;
        height: 100%;
        /* grid-column: 1 ;
	grid-row: 2 ; */
        background: blue;
    }

    marquee>h1 {
        padding: 0px;
        margin: 0;
    }


    .screenshots {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        flex-direction: column;
        width: 100%;
    }

    .screenshots>img {
        width: 100%;
    }

    .flex {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
    }
}